#ui-dialog-notes.hidden
  textarea
  .actionArea.cr
    button.button-ok 确定
  table.table-notes
    thead
      tr
        th 备注
        th(width="80") 操作
    tbody
  table#template-note.hidden
    tbody
      tr
        td
          span.text [%= content %]
        td
          a.del(href="#") 删除
          a.edit(href="#") 修改