#ui-dialog-notes
  textarea
  .actionArea.cr
    button.button-ok 确定
  table.table-notes
    tr
      th 备注
      th(width="80") 操作
  table#template-note.hidden
    tr
      td
        span.text [%= note %]
      td
        a.del(href="#") 删除
        a.edit(href="#") 修改