#ui-overlay-notes.ui-overlay.hidden(style="width:300px")
  .ui-overlay-content.ui-widget-content
    .triangle
    h3 添加笔记
    textarea
    .action-area.cr
      button.button.button-ok 确定
      button.button.button-discard 取消