<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="zh-CN" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Do today</title>
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="index,follow"> 
    <meta name="robots" content="noodp">
    <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="stylesheets/tipsy.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="stylesheets/Aristo/jquery-ui-1.8.7.custom.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <script src="scripts/lib/LAB.min.js"></script>
    <script>
        $LAB.setOptions({BasePath: '/Do-today/scripts/'})
            .script('lib/sea.js').wait()
            .script('lib/jquery-1.6.1.js').wait()
            .script('ui.js').wait()
            .script('lib/underscore-min.js').wait()
            .script('lib/backbone.js').wait()
            .wait(function() {
                seajs.config({
                    base: '/Do-today/scripts/'
                });
                seajs.use('app', function(app) {
                    app.init();
                });
            });
    </script>
</head>
<body class="two-col">
    <div id="container">
        <div id="header">
            <h1><a href="/">Do today</a></h1>
            <div class="sub-title"></div>
        </div>
        <div id="content">
            <div id="timer">
                <div class="timer-time">25:00</div>
                <div class="timer-start">
                    <span class="ui-button" id="ui-button-timerStart"></span>
                </div>
                <div id="settings">
                    <a href="#" class="ui-button func-tipsy" title="设置">
                        <span class="ui-button-text">i</span>
                    </a>
                </div>
            </div>
            <div id="task" class="tabs">
                <ul>
                    <li class="selected"><a href="#task-today">今日任务</a></li>
                    <li><a href="#task-past">往日记录</a></li> 
                </ul>
                <div id="task-today">
                    <div id="task-today-current" class="task-list-container task-list-empty">
                        <div class="task-add">
                            <input placeholder="Add a task>>">
                            <a class="ui-trigger ui-button func-tipsy" title="查看全部隐藏任务">≈</a>
                        </div>
                        <ul class="task-list">
                            <li class="task-default">没有记录哦！</li>
                        </ul>
                        <div class="control actions">
                            <a class="ui-button ui-button-viewall" href="#task-today-all">查看全部</a>
                            <a class="ui-button ui-button-reorder" href="#">重排</a>
                        </div>
                    </div>
                    <div id="task-today-all" class="task-list-container task-list-empty hide">
                        <ul class="task-list task-session">
                            <li class="task-default">没有记录哦！</li>
                        </ul>
                        <div class="control actions">
                            <a class="ui-button-return ui-button" href="#task-today-current">返回</a>
                        </div>
                    </div>
                </div>
                <div id="task-past" class="task-list-container task-list-empty">
                    <p>
                        <input id="task-datepicker">
                    </p>

                    <div id="task-past-content task-empty">
                        <ul class="task-list task-session">
                            <li class="task-default">没有记录哦！</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- #content -->
        <div id="mask">
            <div class="mask-message">
                <strong class="mask-text">Loading...</strong>
            </div>
        </div>
    </div> <!-- #container -->
    <div id="ui-overlay-task" class="ui-overlay ui-helper-hidden">
        <ul class="ui-menu">
            <li class="ui-menu-item"><a class="ui-button-del ui-button" href="#">删除</a></li>
            <li class="ui-menu-item"><a class="ui-button-hide ui-button" href="#">隐藏</a></li>
            <li class="ui-menu-item task-priority ">
                <span class="text">优先级</span>
                <ul class="horizontal-list">
                    <li data-priority="1" style="background: red">1</li>
                    <li data-priority="2" style="background: #007700">2</li>
                    <li data-priority="3" style="background: #006699">3</li>
                    <li data-priority="0" style="background: #202020">无</li>
                </ul>
            </li>
        </ul>
    </div>
    <script id="task-session-template" type="x-ejs-tmpl">
        <li class="task">
            <span class="task-time"><%= session[0] %></span>到<span class="task-time"><%= session[1] %></span>
            <ul class="task-list">
            </ul>
        </li>
    </script>
    <script id="task-template" type="x-ejs-tmpl">
        <li class="task">
            <span class="task-content"><%= content %></span>
            <% if (!(progress[0] == 0 && progress[1] == 100)) { %>
                <span class="task-progress"><%= progress[0] %>%</span>
                到
                <span class="task-progress"><%= progress[1] %>%</span>
            <% } %>
        </li>
    </script>
</body>
</html>