<li class="task">
  <div class="task-line">
    <strong class="task-content"><%= task.content %></strong>
    <em class="task-time right"><%= strftime(new Date(task.created_at), '%p %l:%M') %></em>
  </div>
  <% if (task.notes.length > 0) { %>
    <ul class="task-notes">
      <% task.notes.forEach(function(note) { %>
        <li>
          <%= note.content %>
        </li>
      <% }); %>
    </ul>
  <% } %>
</li>