<table>
  <tr>
    <td width="20">
      <div class="task-check"></div>
    </td>
    <td>
      <span class="task-content" title="单击编辑任务"><%= content %></span>
    </td>
    <td width="32">
      <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
      <div class="actionArea">
        <a href="#" class="button task-action-notes" title="笔记">笔记</a>
        <a href="#" class="button task-action-trigger" title="更多操作">更多操作</a>
      </div>
    </td>
  <tr>
</table>