div#dt-intro
  p 番茄工作法是一种时间管理方法。对许多人来说，时间是人类的大敌。时间的限制带来的焦虑，将导致工作和学习效率的降低，时间的延迟。用番茄工作法，和时间结为盟友。
  p 本应用Dotoday是番茄工作法的网络应用实现，同时还有任务管理的功能，一天工作各时间段所做的任务及完成比例都记录到本地存储。
h2 预览
div#dt-screenshots
  ul.thumb-list
    li.thumb
      a(href="/assets/screenshots/origin/task-add.png")
        img(src="/assets/screenshots/thumb/task-add.png")
      span.thumb-desc 添加任务
    li.thumb
      a(href="/assets/screenshots/origin/tasklist-today.png")
        img(src="/assets/screenshots/thumb/tasklist-today.png")
      span.thumb-desc 今日任务总览
    li.thumb
      a(href="/assets/screenshots/origin/tasklist-sort.png")
        img(src="/assets/screenshots/thumb/tasklist-sort.png")
      span.thumb-desc 任务列表排序
    li.thumb
      a(href="/assets/screenshots/origin/task-notes.png")
        img(src="/assets/screenshots/thumb/task-notes.png")
      span.thumb-desc 添加笔记