h1 注册
form(method="POST", action="/signup", id="signup-form")
  .form-field
    fieldset
      label(for="username") 用户名
      input#username(type="text", name="username", required)
  .form-field
    fieldset
      label(for="email") 邮箱
      input#email(type="email", name="email", required)
  .form-field
    fieldset
      label(for="pass") 密码
      input#pass(type="password", name="pass", required)
  .action-area
    input(type="submit", value="注册")
    a(href="/") 取消