h1 注册
form(method="POST", action="/signup", id="signup-form")
  .form-field
    fieldset
      label(for="name") 用户名
      input#name(type="text", name="name", required, value=user.name || '')
  .form-field
    fieldset
      label(for="email") 邮箱
      input#email(type="email", name="email", required, value=user.email || '')
  .form-field
    fieldset
      label(for="password") 密码
      input#password(type="password", name="password", required)
  .action-area
    input(type="submit", value="注册")
    a(href="/") 取消