<div class="task-check left">
	<div class="task-progress-container">
		<span class="task-process-val"><%= progress %>%</span>
		<div class="triangle"></div>
		<div class="task-progress right"></div>
	</div>
</div>
<span class="task-content task-priority-<%= priority %>"><%= content %></span>
<span class="ui-icon reorder-icon ui-icon-arrowthick-2-n-s"></span>
<a href="#" class="task-actions-trigger right">✿</a>