<div class="task-check left">✔
	<div class="task-progress-container">
		<div class="task-progress right"></div>
		<span class="task-process-val"><%= progress %>%</span>
		<div class="triangle"></div>
	</div>
</div>
<span title="单击编辑任务" class="task-content task-priority-<%= priority %>"><%= content %></span>
<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
<div class="actions">
	<a href="#" class="button task-actions-notes">笔记</a>
	<a href="#" class="button task-actions-trigger"></a>
</div>
