.page-app
  #timer
    .timer-time 25:00
    .timer-progress
      .button.timer-start
    #settings
      a.button.tipsy(href="#", title="设置") i
  #task.tabs
    ul
      li: a(href="#task-today") 今日任务
      li: a(href="#task-past") 往日记录
    #task-today
      #task-today-current.task-list-container.task-list-empty
        .task-add
          input(placeholder="添加任务")
          a.button.tipsy(title="查看全部隐藏任务")
        ul.task-list
          li.task-default 没有记录哦!
        .action-area
          a.button.button-viewall(href="#task-today-all") 查看全部
          a.button.button-reorder(href="#") 重排
      #task-today-all.task-list-container.hidden
        ul.task-list.task-session
        .action-area
          a.button-return.button(href="#task-today-current") 返回
    #task-past.task-list-container
      p: input#task-datepicker
      .content
        ul.task-list.task-session
  //
    #mask
      .mask-message
        strong.mask-text 载入中...
        p: img(src="images/loading.gif")


  #ui-overlay-task.ui-overlay.ui-widget-content.hidden
    ul.ui-menu
      li.ui-menu-item: a.button-del.button(href="#") 删除
      li.ui-menu-item: a.button-hide.button(href="#") 隐藏
      li.ui-menu-item.task-priority
        span.text 优先级
        ul
          li(data-priority="0", style="background: #202020") 无
          li(data-priority="1", style="background: red") 1
          li(data-priority="2", style="background: #007700") 2
          li(data-priority="3", style="background: #006699") 3


  #ui-overlay-notes.ui-overlay.ui-widget-content.hidden
    .triangle
    h3 添加笔记
    textarea
    .action-area.cr
      button.button.button-ok 确定
      button.button.button-discard 取消

  
  script#template-task-session(type="x-ejs-tmpl")
    |<li class="task">
    |  <strong class="task-content">[%= task.content %]</strong>
    |  [% if (start != 0 || end != 100) { %]
    |    <em class="right">完成从[%= start %]%到[%= end %]%</em>
    |  [% } %]
    |  [% if (typeof task.notes != 'undefined') { %]
    |    <ul class="task-notes">
    |      [% _.each(task.notes, function(note) { %]
    |        <li>
    |          [%= note.content %]
    |          <em class="time right">[%= new Date(note.time).toLocaleString() %]</em>
    |        </li>
    |      [% }); %]
    |    </ul>
    |  [% } %]
    |</li>


  script(src="scripts/lib/LAB.min.js")
  script
    $LAB.setOptions({BasePath: '/scripts/'})
      .script('lib/jquery.min.js')
      .script('lib/ejs.js')
      .script('lib/sea.js')
      .script('lib/underscore.js').wait()
      .script('lib/backbone.js')
      .script('lib/jquery-ui.min.js')
      .wait(function() {
        seajs.config({
          base: '/scripts'
        });
        seajs.use('app');
      });