// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

@import "variables"

$grid-columns   : 24
$container-size : 700px
$grid-margin    : 10px

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$grid-width: ($container-size + $grid-margin) / $grid-columns - $grid-margin

$line-height              : 1.5
$link-color               : #A2A0A1
$link-hover-color         : darken($link-color, 30%)
$link-focus-color         : $link-hover-color
$link-active-color        : lighten(adjust-hue($link-color, 75deg), 10%)
$link-visited-color       : darken($link-color, 10%)
$background-color         : #A2A0A1
$notice-color             : #EC5800
$notice-bg-color          : #AFCF51