// Page layout can be done using mixins applied to your semantic classes and IDs
// For instance this layout defines a two column layout on pages with
// a body class of "two-col".
//
// The markup would look like:
//    <div id="container">
//      <div id="header"></div>
//      <div id="sidebar"></div>
//      <div id="content"></div>
//      <div id="footer"></div>
//    </div>
//
//#header, #footer
//    +column($blueprint-grid-columns)
//  #sidebar
  // One third of the grid columns, rounding down. With 24 cols, this is 8.
//    $sidebar-columns: floor($blueprint-grid-columns / 6)
//    +column($sidebar-columns)
//  #content
  // Two thirds of the grid columns, rounding up.
  // With 24 cols, this is 16.
//   $content-columns: ceil(5 * $blueprint-grid-columns / 6)
  // true means it's the last column in the row
//    +column($content-columns, true)
// and the layout would look like:
//    +------------------------+
//    |        #header         |
//    +--------+---------------+
//    |        |               |
//    |#sidebar|    #content   |
//    |        |               |
//    +------------------------+
//    |        #footer         |
//    +--------+---------------+


#header > .cnt,
#main,
#footer
  width: $container-size
  margin: 0 auto

#footer
  margin-top: 20px
  margin-bottom: 20px

#main
  min-height: 500px