@import "compass/typography/text/force-wrap"
@import "blueprint/link-icons"

=triangle($direction: right, $w: 10px, $color: #FFF)
	width: 0
	height: 0
	border:
		style: solid
		width: $w
	border-#{$direction}-width: 0
	@if $direction == right
		border-color: transparent $color
	@else if $direction == top
		border-color: $color transparent
	@else if $direction == left
		border-color: transparent $color
	@else
		border-color: $color transparent

.clearfix
	+pie-clearfix

.hidden
	display: none

.small
	font-size: 0.8em
	margin-bottom: 1.875em
	line-height: 1.875em

.large
	font-size: 1.2em
	line-height: 2.5em
	margin-bottom: 1.25em

.first
	margin-left: 0
	padding-left: 0
.last
	margin-right: 0
	padding-right: 0
.top
	margin-top: 0
	padding-top: 0
.bottom
	margin-bottom: 0
	padding-bottom: 0


// Since you've installed the xml file, you should set
// $use-mozilla-ellipsis-binding to true before importing.
$use-mozilla-ellipsis-binding: true
@import compass/typography/text/ellipsis


.left
	+float-left

.right
	+float-right

.bc
	margin
		left: auto
		right: auto

.tc-relative
	position: relative
	left: 50%
	+float-left
	.tc-relative-inner
		position: relative
		left: -50%
		+float-left

.ellipsis
	+ellipsis

.invisible
	visibility: hidden

.visuallyhidden
	position: absolute !important
	clip: rect(1px 1px 1px 1px) /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px)

.ir
	display: block
	text-indent: -999em
	overflow: hidden
	background-repeat: no-repeat
	text-align: left
	direction: ltr

.link-icon
	+link-icon-base