extends ../layout

block content
  .page-app
    #timer
      .timer-time 25:00
      .timer-progress
        .button.timer-start
      #settings
        a.button.fn-tipsy(href="#", title="设置") i
    #task.tabs
      ul
        li: a(href="#task-today") 今日任务
        li: a(href="#task-archives") 往日记录
      #task-today
        #task-today-current.task-list-container
          .task-add
            input(placeholder="添加任务")
            a.task-add-button.button.fn-tipsy(title="查看全部隐藏任务")
          ul.empty-state
            li.empty 没有记录哦!
          .actionArea
            button.button-reorder.button-dt 重排
        #task-today-archive.task-list-container.hidden-state
          ul.task-archives-list
          .actionArea
            a.toggle(href="#") 查看今日任务明细
            img.throbber.hidden(src="images/throbber.png")
            a.refresh.right(href="#") 刷新
      #task-archives.task-list-container
        p: input#task-datepicker
        .content
          ul.task-archives-list

    #mask
      .mask-message
        strong.mask-text 载入中...
        p: img(src="images/loading.gif")

    include overlay-task
    include overlay-notes

    script(src="scripts/lib/LAB.min.js")
    script.
      $LAB.setGlobalDefaults({BasePath: '/scripts/'});
      $LAB
        .script('lib/jquery.min.js')
        .script('lib/ejs.js')
        .script('lib/sea.js')
        .script('lib/underscore.js').wait()
        .script('lib/backbone.js')
        .script('lib/dateformat.js')
        .script('lib/jquery-ui.min.js').wait()
        .script('jquery.overlay.js')
        .script('jquery.hotedit.js')
        .wait(function() {
          seajs.config({
            base: '/scripts'
          });
          seajs.use('app', function(app) {
            app.start();
          });
        });