/* line 4, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../sass/partials/_page.sass */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 75%;
  overflow-y: scroll;
}
/* line 51, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #eeeeee;
}
/* line 52, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 53, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: white;
}
/* line 18, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #e6e6e6;
}
/* line 21, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #0099ff;
}
/* line 24, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #0099ff;
}
/* line 27, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: white;
}
/* line 63, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong, body dfn {
  font-weight: bold;
}
/* line 65, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em, body dfn {
  font-style: italic;
}
/* line 66, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 67, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 70, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 73, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 75, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 76, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 78, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 79, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 81, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 82, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table.striped tr:nth-child(even) td,
body table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 87, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #f0f0f0;
}
/* line 88, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: white;
}
/* line 89, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #dddddd;
}
/* line 9, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clear {
  clear: both;
}
/* line 12, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 610 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(2.527%, rgba(100, 100, 225, 0.25)), color-stop(2.527%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(100, 100, 225, 0.25)), color-stop(6.694%, rgba(100, 100, 225, 0.25)), color-stop(6.694%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(10.861%, rgba(100, 100, 225, 0.25)), color-stop(10.861%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(15.027%, rgba(100, 100, 225, 0.25)), color-stop(15.027%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(100, 100, 225, 0.25)), color-stop(19.194%, rgba(100, 100, 225, 0.25)), color-stop(19.194%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(100, 100, 225, 0.25)), color-stop(23.361%, rgba(100, 100, 225, 0.25)), color-stop(23.361%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(27.527%, rgba(100, 100, 225, 0.25)), color-stop(27.527%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(100, 100, 225, 0.25)), color-stop(31.694%, rgba(100, 100, 225, 0.25)), color-stop(31.694%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(35.861%, rgba(100, 100, 225, 0.25)), color-stop(35.861%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(40.027%, rgba(100, 100, 225, 0.25)), color-stop(40.027%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(100, 100, 225, 0.25)), color-stop(44.194%, rgba(100, 100, 225, 0.25)), color-stop(44.194%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(100, 100, 225, 0.25)), color-stop(48.361%, rgba(100, 100, 225, 0.25)), color-stop(48.361%, rgba(0, 0, 0, 0)), color-stop(50.0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(52.527%, rgba(100, 100, 225, 0.25)), color-stop(52.527%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(100, 100, 225, 0.25)), color-stop(56.694%, rgba(100, 100, 225, 0.25)), color-stop(56.694%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(60.861%, rgba(100, 100, 225, 0.25)), color-stop(60.861%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(65.027%, rgba(100, 100, 225, 0.25)), color-stop(65.027%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(69.194%, rgba(100, 100, 225, 0.25)), color-stop(69.194%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(100, 100, 225, 0.25)), color-stop(73.361%, rgba(100, 100, 225, 0.25)), color-stop(73.361%, rgba(0, 0, 0, 0)), color-stop(75.0%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(77.527%, rgba(100, 100, 225, 0.25)), color-stop(77.527%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(100, 100, 225, 0.25)), color-stop(81.694%, rgba(100, 100, 225, 0.25)), color-stop(81.694%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(85.861%, rgba(100, 100, 225, 0.25)), color-stop(85.861%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(90.027%, rgba(100, 100, 225, 0.25)), color-stop(90.027%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(94.194%, rgba(100, 100, 225, 0.25)), color-stop(94.194%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(100, 100, 225, 0.25)), color-stop(98.361%, rgba(100, 100, 225, 0.25)), color-stop(98.361%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 15.417px, rgba(0, 0, 0, 0) 15.417px, rgba(0, 0, 0, 0) 25.417px, rgba(100, 100, 225, 0.25) 25.417px, rgba(100, 100, 225, 0.25) 40.833px, rgba(0, 0, 0, 0) 40.833px, rgba(0, 0, 0, 0) 50.833px, rgba(100, 100, 225, 0.25) 50.833px, rgba(100, 100, 225, 0.25) 66.25px, rgba(0, 0, 0, 0) 66.25px, rgba(0, 0, 0, 0) 76.25px, rgba(100, 100, 225, 0.25) 76.25px, rgba(100, 100, 225, 0.25) 91.667px, rgba(0, 0, 0, 0) 91.667px, rgba(0, 0, 0, 0) 101.667px, rgba(100, 100, 225, 0.25) 101.667px, rgba(100, 100, 225, 0.25) 117.083px, rgba(0, 0, 0, 0) 117.083px, rgba(0, 0, 0, 0) 127.083px, rgba(100, 100, 225, 0.25) 127.083px, rgba(100, 100, 225, 0.25) 142.5px, rgba(0, 0, 0, 0) 142.5px, rgba(0, 0, 0, 0) 152.5px, rgba(100, 100, 225, 0.25) 152.5px, rgba(100, 100, 225, 0.25) 167.917px, rgba(0, 0, 0, 0) 167.917px, rgba(0, 0, 0, 0) 177.917px, rgba(100, 100, 225, 0.25) 177.917px, rgba(100, 100, 225, 0.25) 193.333px, rgba(0, 0, 0, 0) 193.333px, rgba(0, 0, 0, 0) 203.333px, rgba(100, 100, 225, 0.25) 203.333px, rgba(100, 100, 225, 0.25) 218.75px, rgba(0, 0, 0, 0) 218.75px, rgba(0, 0, 0, 0) 228.75px, rgba(100, 100, 225, 0.25) 228.75px, rgba(100, 100, 225, 0.25) 244.167px, rgba(0, 0, 0, 0) 244.167px, rgba(0, 0, 0, 0) 254.167px, rgba(100, 100, 225, 0.25) 254.167px, rgba(100, 100, 225, 0.25) 269.583px, rgba(0, 0, 0, 0) 269.583px, rgba(0, 0, 0, 0) 279.583px, rgba(100, 100, 225, 0.25) 279.583px, rgba(100, 100, 225, 0.25) 295.0px, rgba(0, 0, 0, 0) 295.0px, rgba(0, 0, 0, 0) 305.0px, rgba(100, 100, 225, 0.25) 305px, rgba(100, 100, 225, 0.25) 320.417px, rgba(0, 0, 0, 0) 320.417px, rgba(0, 0, 0, 0) 330.417px, rgba(100, 100, 225, 0.25) 330.417px, rgba(100, 100, 225, 0.25) 345.833px, rgba(0, 0, 0, 0) 345.833px, rgba(0, 0, 0, 0) 355.833px, rgba(100, 100, 225, 0.25) 355.833px, rgba(100, 100, 225, 0.25) 371.25px, rgba(0, 0, 0, 0) 371.25px, rgba(0, 0, 0, 0) 381.25px, rgba(100, 100, 225, 0.25) 381.25px, rgba(100, 100, 225, 0.25) 396.667px, rgba(0, 0, 0, 0) 396.667px, rgba(0, 0, 0, 0) 406.667px, rgba(100, 100, 225, 0.25) 406.667px, rgba(100, 100, 225, 0.25) 422.083px, rgba(0, 0, 0, 0) 422.083px, rgba(0, 0, 0, 0) 432.083px, rgba(100, 100, 225, 0.25) 432.083px, rgba(100, 100, 225, 0.25) 447.5px, rgba(0, 0, 0, 0) 447.5px, rgba(0, 0, 0, 0) 457.5px, rgba(100, 100, 225, 0.25) 457.5px, rgba(100, 100, 225, 0.25) 472.917px, rgba(0, 0, 0, 0) 472.917px, rgba(0, 0, 0, 0) 482.917px, rgba(100, 100, 225, 0.25) 482.917px, rgba(100, 100, 225, 0.25) 498.333px, rgba(0, 0, 0, 0) 498.333px, rgba(0, 0, 0, 0) 508.333px, rgba(100, 100, 225, 0.25) 508.333px, rgba(100, 100, 225, 0.25) 523.75px, rgba(0, 0, 0, 0) 523.75px, rgba(0, 0, 0, 0) 533.75px, rgba(100, 100, 225, 0.25) 533.75px, rgba(100, 100, 225, 0.25) 549.167px, rgba(0, 0, 0, 0) 549.167px, rgba(0, 0, 0, 0) 559.167px, rgba(100, 100, 225, 0.25) 559.167px, rgba(100, 100, 225, 0.25) 574.583px, rgba(0, 0, 0, 0) 574.583px, rgba(0, 0, 0, 0) 584.583px, rgba(100, 100, 225, 0.25) 584.583px, rgba(100, 100, 225, 0.25) 600px, rgba(0, 0, 0, 0) 600px, rgba(0, 0, 0, 0) 610px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 15.417px, rgba(0, 0, 0, 0) 15.417px, rgba(0, 0, 0, 0) 25.417px, rgba(100, 100, 225, 0.25) 25.417px, rgba(100, 100, 225, 0.25) 40.833px, rgba(0, 0, 0, 0) 40.833px, rgba(0, 0, 0, 0) 50.833px, rgba(100, 100, 225, 0.25) 50.833px, rgba(100, 100, 225, 0.25) 66.25px, rgba(0, 0, 0, 0) 66.25px, rgba(0, 0, 0, 0) 76.25px, rgba(100, 100, 225, 0.25) 76.25px, rgba(100, 100, 225, 0.25) 91.667px, rgba(0, 0, 0, 0) 91.667px, rgba(0, 0, 0, 0) 101.667px, rgba(100, 100, 225, 0.25) 101.667px, rgba(100, 100, 225, 0.25) 117.083px, rgba(0, 0, 0, 0) 117.083px, rgba(0, 0, 0, 0) 127.083px, rgba(100, 100, 225, 0.25) 127.083px, rgba(100, 100, 225, 0.25) 142.5px, rgba(0, 0, 0, 0) 142.5px, rgba(0, 0, 0, 0) 152.5px, rgba(100, 100, 225, 0.25) 152.5px, rgba(100, 100, 225, 0.25) 167.917px, rgba(0, 0, 0, 0) 167.917px, rgba(0, 0, 0, 0) 177.917px, rgba(100, 100, 225, 0.25) 177.917px, rgba(100, 100, 225, 0.25) 193.333px, rgba(0, 0, 0, 0) 193.333px, rgba(0, 0, 0, 0) 203.333px, rgba(100, 100, 225, 0.25) 203.333px, rgba(100, 100, 225, 0.25) 218.75px, rgba(0, 0, 0, 0) 218.75px, rgba(0, 0, 0, 0) 228.75px, rgba(100, 100, 225, 0.25) 228.75px, rgba(100, 100, 225, 0.25) 244.167px, rgba(0, 0, 0, 0) 244.167px, rgba(0, 0, 0, 0) 254.167px, rgba(100, 100, 225, 0.25) 254.167px, rgba(100, 100, 225, 0.25) 269.583px, rgba(0, 0, 0, 0) 269.583px, rgba(0, 0, 0, 0) 279.583px, rgba(100, 100, 225, 0.25) 279.583px, rgba(100, 100, 225, 0.25) 295.0px, rgba(0, 0, 0, 0) 295.0px, rgba(0, 0, 0, 0) 305.0px, rgba(100, 100, 225, 0.25) 305px, rgba(100, 100, 225, 0.25) 320.417px, rgba(0, 0, 0, 0) 320.417px, rgba(0, 0, 0, 0) 330.417px, rgba(100, 100, 225, 0.25) 330.417px, rgba(100, 100, 225, 0.25) 345.833px, rgba(0, 0, 0, 0) 345.833px, rgba(0, 0, 0, 0) 355.833px, rgba(100, 100, 225, 0.25) 355.833px, rgba(100, 100, 225, 0.25) 371.25px, rgba(0, 0, 0, 0) 371.25px, rgba(0, 0, 0, 0) 381.25px, rgba(100, 100, 225, 0.25) 381.25px, rgba(100, 100, 225, 0.25) 396.667px, rgba(0, 0, 0, 0) 396.667px, rgba(0, 0, 0, 0) 406.667px, rgba(100, 100, 225, 0.25) 406.667px, rgba(100, 100, 225, 0.25) 422.083px, rgba(0, 0, 0, 0) 422.083px, rgba(0, 0, 0, 0) 432.083px, rgba(100, 100, 225, 0.25) 432.083px, rgba(100, 100, 225, 0.25) 447.5px, rgba(0, 0, 0, 0) 447.5px, rgba(0, 0, 0, 0) 457.5px, rgba(100, 100, 225, 0.25) 457.5px, rgba(100, 100, 225, 0.25) 472.917px, rgba(0, 0, 0, 0) 472.917px, rgba(0, 0, 0, 0) 482.917px, rgba(100, 100, 225, 0.25) 482.917px, rgba(100, 100, 225, 0.25) 498.333px, rgba(0, 0, 0, 0) 498.333px, rgba(0, 0, 0, 0) 508.333px, rgba(100, 100, 225, 0.25) 508.333px, rgba(100, 100, 225, 0.25) 523.75px, rgba(0, 0, 0, 0) 523.75px, rgba(0, 0, 0, 0) 533.75px, rgba(100, 100, 225, 0.25) 533.75px, rgba(100, 100, 225, 0.25) 549.167px, rgba(0, 0, 0, 0) 549.167px, rgba(0, 0, 0, 0) 559.167px, rgba(100, 100, 225, 0.25) 559.167px, rgba(100, 100, 225, 0.25) 574.583px, rgba(0, 0, 0, 0) 574.583px, rgba(0, 0, 0, 0) 584.583px, rgba(100, 100, 225, 0.25) 584.583px, rgba(100, 100, 225, 0.25) 600px, rgba(0, 0, 0, 0) 600px, rgba(0, 0, 0, 0) 610px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 15.417px, rgba(0, 0, 0, 0) 15.417px, rgba(0, 0, 0, 0) 25.417px, rgba(100, 100, 225, 0.25) 25.417px, rgba(100, 100, 225, 0.25) 40.833px, rgba(0, 0, 0, 0) 40.833px, rgba(0, 0, 0, 0) 50.833px, rgba(100, 100, 225, 0.25) 50.833px, rgba(100, 100, 225, 0.25) 66.25px, rgba(0, 0, 0, 0) 66.25px, rgba(0, 0, 0, 0) 76.25px, rgba(100, 100, 225, 0.25) 76.25px, rgba(100, 100, 225, 0.25) 91.667px, rgba(0, 0, 0, 0) 91.667px, rgba(0, 0, 0, 0) 101.667px, rgba(100, 100, 225, 0.25) 101.667px, rgba(100, 100, 225, 0.25) 117.083px, rgba(0, 0, 0, 0) 117.083px, rgba(0, 0, 0, 0) 127.083px, rgba(100, 100, 225, 0.25) 127.083px, rgba(100, 100, 225, 0.25) 142.5px, rgba(0, 0, 0, 0) 142.5px, rgba(0, 0, 0, 0) 152.5px, rgba(100, 100, 225, 0.25) 152.5px, rgba(100, 100, 225, 0.25) 167.917px, rgba(0, 0, 0, 0) 167.917px, rgba(0, 0, 0, 0) 177.917px, rgba(100, 100, 225, 0.25) 177.917px, rgba(100, 100, 225, 0.25) 193.333px, rgba(0, 0, 0, 0) 193.333px, rgba(0, 0, 0, 0) 203.333px, rgba(100, 100, 225, 0.25) 203.333px, rgba(100, 100, 225, 0.25) 218.75px, rgba(0, 0, 0, 0) 218.75px, rgba(0, 0, 0, 0) 228.75px, rgba(100, 100, 225, 0.25) 228.75px, rgba(100, 100, 225, 0.25) 244.167px, rgba(0, 0, 0, 0) 244.167px, rgba(0, 0, 0, 0) 254.167px, rgba(100, 100, 225, 0.25) 254.167px, rgba(100, 100, 225, 0.25) 269.583px, rgba(0, 0, 0, 0) 269.583px, rgba(0, 0, 0, 0) 279.583px, rgba(100, 100, 225, 0.25) 279.583px, rgba(100, 100, 225, 0.25) 295.0px, rgba(0, 0, 0, 0) 295.0px, rgba(0, 0, 0, 0) 305.0px, rgba(100, 100, 225, 0.25) 305px, rgba(100, 100, 225, 0.25) 320.417px, rgba(0, 0, 0, 0) 320.417px, rgba(0, 0, 0, 0) 330.417px, rgba(100, 100, 225, 0.25) 330.417px, rgba(100, 100, 225, 0.25) 345.833px, rgba(0, 0, 0, 0) 345.833px, rgba(0, 0, 0, 0) 355.833px, rgba(100, 100, 225, 0.25) 355.833px, rgba(100, 100, 225, 0.25) 371.25px, rgba(0, 0, 0, 0) 371.25px, rgba(0, 0, 0, 0) 381.25px, rgba(100, 100, 225, 0.25) 381.25px, rgba(100, 100, 225, 0.25) 396.667px, rgba(0, 0, 0, 0) 396.667px, rgba(0, 0, 0, 0) 406.667px, rgba(100, 100, 225, 0.25) 406.667px, rgba(100, 100, 225, 0.25) 422.083px, rgba(0, 0, 0, 0) 422.083px, rgba(0, 0, 0, 0) 432.083px, rgba(100, 100, 225, 0.25) 432.083px, rgba(100, 100, 225, 0.25) 447.5px, rgba(0, 0, 0, 0) 447.5px, rgba(0, 0, 0, 0) 457.5px, rgba(100, 100, 225, 0.25) 457.5px, rgba(100, 100, 225, 0.25) 472.917px, rgba(0, 0, 0, 0) 472.917px, rgba(0, 0, 0, 0) 482.917px, rgba(100, 100, 225, 0.25) 482.917px, rgba(100, 100, 225, 0.25) 498.333px, rgba(0, 0, 0, 0) 498.333px, rgba(0, 0, 0, 0) 508.333px, rgba(100, 100, 225, 0.25) 508.333px, rgba(100, 100, 225, 0.25) 523.75px, rgba(0, 0, 0, 0) 523.75px, rgba(0, 0, 0, 0) 533.75px, rgba(100, 100, 225, 0.25) 533.75px, rgba(100, 100, 225, 0.25) 549.167px, rgba(0, 0, 0, 0) 549.167px, rgba(0, 0, 0, 0) 559.167px, rgba(100, 100, 225, 0.25) 559.167px, rgba(100, 100, 225, 0.25) 574.583px, rgba(0, 0, 0, 0) 574.583px, rgba(0, 0, 0, 0) 584.583px, rgba(100, 100, 225, 0.25) 584.583px, rgba(100, 100, 225, 0.25) 600px, rgba(0, 0, 0, 0) 600px, rgba(0, 0, 0, 0) 610px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 15.417px, rgba(0, 0, 0, 0) 15.417px, rgba(0, 0, 0, 0) 25.417px, rgba(100, 100, 225, 0.25) 25.417px, rgba(100, 100, 225, 0.25) 40.833px, rgba(0, 0, 0, 0) 40.833px, rgba(0, 0, 0, 0) 50.833px, rgba(100, 100, 225, 0.25) 50.833px, rgba(100, 100, 225, 0.25) 66.25px, rgba(0, 0, 0, 0) 66.25px, rgba(0, 0, 0, 0) 76.25px, rgba(100, 100, 225, 0.25) 76.25px, rgba(100, 100, 225, 0.25) 91.667px, rgba(0, 0, 0, 0) 91.667px, rgba(0, 0, 0, 0) 101.667px, rgba(100, 100, 225, 0.25) 101.667px, rgba(100, 100, 225, 0.25) 117.083px, rgba(0, 0, 0, 0) 117.083px, rgba(0, 0, 0, 0) 127.083px, rgba(100, 100, 225, 0.25) 127.083px, rgba(100, 100, 225, 0.25) 142.5px, rgba(0, 0, 0, 0) 142.5px, rgba(0, 0, 0, 0) 152.5px, rgba(100, 100, 225, 0.25) 152.5px, rgba(100, 100, 225, 0.25) 167.917px, rgba(0, 0, 0, 0) 167.917px, rgba(0, 0, 0, 0) 177.917px, rgba(100, 100, 225, 0.25) 177.917px, rgba(100, 100, 225, 0.25) 193.333px, rgba(0, 0, 0, 0) 193.333px, rgba(0, 0, 0, 0) 203.333px, rgba(100, 100, 225, 0.25) 203.333px, rgba(100, 100, 225, 0.25) 218.75px, rgba(0, 0, 0, 0) 218.75px, rgba(0, 0, 0, 0) 228.75px, rgba(100, 100, 225, 0.25) 228.75px, rgba(100, 100, 225, 0.25) 244.167px, rgba(0, 0, 0, 0) 244.167px, rgba(0, 0, 0, 0) 254.167px, rgba(100, 100, 225, 0.25) 254.167px, rgba(100, 100, 225, 0.25) 269.583px, rgba(0, 0, 0, 0) 269.583px, rgba(0, 0, 0, 0) 279.583px, rgba(100, 100, 225, 0.25) 279.583px, rgba(100, 100, 225, 0.25) 295.0px, rgba(0, 0, 0, 0) 295.0px, rgba(0, 0, 0, 0) 305.0px, rgba(100, 100, 225, 0.25) 305px, rgba(100, 100, 225, 0.25) 320.417px, rgba(0, 0, 0, 0) 320.417px, rgba(0, 0, 0, 0) 330.417px, rgba(100, 100, 225, 0.25) 330.417px, rgba(100, 100, 225, 0.25) 345.833px, rgba(0, 0, 0, 0) 345.833px, rgba(0, 0, 0, 0) 355.833px, rgba(100, 100, 225, 0.25) 355.833px, rgba(100, 100, 225, 0.25) 371.25px, rgba(0, 0, 0, 0) 371.25px, rgba(0, 0, 0, 0) 381.25px, rgba(100, 100, 225, 0.25) 381.25px, rgba(100, 100, 225, 0.25) 396.667px, rgba(0, 0, 0, 0) 396.667px, rgba(0, 0, 0, 0) 406.667px, rgba(100, 100, 225, 0.25) 406.667px, rgba(100, 100, 225, 0.25) 422.083px, rgba(0, 0, 0, 0) 422.083px, rgba(0, 0, 0, 0) 432.083px, rgba(100, 100, 225, 0.25) 432.083px, rgba(100, 100, 225, 0.25) 447.5px, rgba(0, 0, 0, 0) 447.5px, rgba(0, 0, 0, 0) 457.5px, rgba(100, 100, 225, 0.25) 457.5px, rgba(100, 100, 225, 0.25) 472.917px, rgba(0, 0, 0, 0) 472.917px, rgba(0, 0, 0, 0) 482.917px, rgba(100, 100, 225, 0.25) 482.917px, rgba(100, 100, 225, 0.25) 498.333px, rgba(0, 0, 0, 0) 498.333px, rgba(0, 0, 0, 0) 508.333px, rgba(100, 100, 225, 0.25) 508.333px, rgba(100, 100, 225, 0.25) 523.75px, rgba(0, 0, 0, 0) 523.75px, rgba(0, 0, 0, 0) 533.75px, rgba(100, 100, 225, 0.25) 533.75px, rgba(100, 100, 225, 0.25) 549.167px, rgba(0, 0, 0, 0) 549.167px, rgba(0, 0, 0, 0) 559.167px, rgba(100, 100, 225, 0.25) 559.167px, rgba(100, 100, 225, 0.25) 574.583px, rgba(0, 0, 0, 0) 574.583px, rgba(0, 0, 0, 0) 584.583px, rgba(100, 100, 225, 0.25) 584.583px, rgba(100, 100, 225, 0.25) 600px, rgba(0, 0, 0, 0) 600px, rgba(0, 0, 0, 0) 610px);
  -moz-background-size: 100% 20px, auto;
  -webkit-background-size: 100% 20px, auto;
  -o-background-size: 100% 20px, auto;
  background-size: 100% 20px, auto;
  background-position: left top;
}
/* line 4, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .feedback, body .error, body .alert, body .notice, body .success, body .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error, body .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a, body .alert a {
  color: #8a1f11;
}
/* line 7, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 9, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info a {
  color: #205791;
}
/* line 10, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 11, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 12, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}
/* line 39, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body .border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}
/* line 45, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body .colborder {
  padding-right: 17px;
  margin-right: 18px;
  border-right: 1px solid #dddddd;
}
/* line 47, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body form.inline {
  line-height: 3;
}
/* line 6, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form.inline p {
  margin-bottom: 0;
}
/* line 20, ../sass/partials/_page.sass */
body a {
  text-decoration: none;
}
/* line 22, ../sass/partials/_page.sass */
body a:visited {
  color: white;
}
/* line 25, ../sass/partials/_page.sass */
body figcaption {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
/* line 31, ../sass/partials/_page.sass */
body h3 {
  text-align: center;
}
/* line 34, ../sass/partials/_page.sass */
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #4f4f4f;
}
/* line 37, ../sass/partials/_page.sass */
body .left {
  display: inline;
  float: left;
}
/* line 40, ../sass/partials/_page.sass */
body .right {
  display: inline;
  float: right;
}
/* line 43, ../sass/partials/_page.sass */
body .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent white;
  border-right-width: 0;
}
/* line 47, ../sass/partials/_page.sass */
body .horizontal-list li {
  display: inline;
}
/* line 50, ../sass/partials/_page.sass */
body .control .ui-button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  padding: 0.2em 0.5em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(48, 39, 22, 0.7)), color-stop(100%, rgba(48, 39, 22, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(48, 39, 22, 0.7), rgba(48, 39, 22, 0.5));
  background-image: -moz-linear-gradient(top, rgba(48, 39, 22, 0.7), rgba(48, 39, 22, 0.5));
  background-image: -o-linear-gradient(top, rgba(48, 39, 22, 0.7), rgba(48, 39, 22, 0.5));
  background-image: linear-gradient(top, rgba(48, 39, 22, 0.7), rgba(48, 39, 22, 0.5));
}
/* line 55, ../sass/partials/_page.sass */
body .ui-overlay {
  float: left;
  background: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 60, ../sass/partials/_page.sass */
body .ui-overlay .ui-menu {
  width: 100%;
  margin-left: -2px;
  color: #4f4f4f;
}
/* line 63, ../sass/partials/_page.sass */
body .ui-overlay .ui-menu .ui-menu-item {
  border-bottom: 1px solid black;
}
/* line 66, ../sass/partials/_page.sass */
body .ui-overlay .ui-menu a {
  color: #4f4f4f;
  text-align: left;
}
/* line 69, ../sass/partials/_page.sass */
body .ui-overlay .ui-menu a:hover {
  background: #4f4f4f;
  color: white;
}
/* line 72, ../sass/partials/_page.sass */
body .ui-widget-content a {
  color: #4f4f4f;
}

/* line 18, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border: 1px solid #666666;
}
/* line 65, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, ../../../bin/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 38, ../sass/partials/_two_col.sass */
body #container {
  width: 600px;
  margin: 0 auto;
  width: 700px;
  min-height: 600px;
  overflow: auto;
}

/* line 2, ../sass/partials/_typography.sass */
body .control a, body .ui-tabs-nav a {
  color: white !important;
}

/* line 23, ../sass/screen.sass */
#container {
  background: #443c2b;
  position: relative;
}

/* line 26, ../sass/screen.sass */
#header {
  height: 80px;
  background: white url(../images/header.png) repeat-x;
}
/* line 29, ../sass/screen.sass */
#header h1 {
  background: url(../images/logo.png);
  margin: 16px 0 0 230px;
  float: left;
}
/* line 33, ../sass/screen.sass */
#header h1 a {
  display: block;
  height: 88px;
  width: 224px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 38, ../sass/screen.sass */
#header .sub-title {
  position: absolute;
  width: 150px;
  height: 60px;
  background: url(../images/sprites.png) 0 -93px no-repeat;
  left: 68px;
  top: -10px;
}

/* line 46, ../sass/screen.sass */
#mask {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  top: 80px;
  background: #302716;
}
/* line 54, ../sass/screen.sass */
#mask .mask-message {
  margin: 40px auto;
  text-align: center;
}

/* line 57, ../sass/screen.sass */
#content {
  position: relative;
  padding-top: 50px;
  width: 570px;
  margin: 0 auto;
  font-size: 1.1em;
}

/* line 64, ../sass/screen.sass */
#timer {
  height: 66px;
  margin: 10px;
  background: url(../images/sprites.png) -4px -6px;
  position: relative;
}
/* line 69, ../sass/screen.sass */
#timer .timer-time, #timer .timer-start {
  height: 36px;
  margin-top: 20px;
  float: left;
}
/* line 73, ../sass/screen.sass */
#timer .timer-time {
  width: 50px;
  margin-left: 18px;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
}
/* line 79, ../sass/screen.sass */
#timer .timer-start {
  width: 20px;
  margin-left: 6px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b1ad3f), color-stop(100%, #a4a148));
  background-image: -webkit-linear-gradient(left, #b1ad3f, #a4a148);
  background-image: -moz-linear-gradient(left, #b1ad3f, #a4a148);
  background-image: -o-linear-gradient(left, #b1ad3f, #a4a148);
  background-image: linear-gradient(left, #b1ad3f, #a4a148);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 84, ../sass/screen.sass */
#timer .timer-start .ui-button {
  margin: 9px 0 0 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent white;
  border-right-width: 0;
}
/* line 87, ../sass/screen.sass */
#timer .timer-start .ui-button.started {
  width: 8px;
  height: 14px;
  border: none;
  background: white;
  margin-left: 6px;
}
/* line 93, ../sass/screen.sass */
#timer .timer-start .ui-button.stopped {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 96, ../sass/screen.sass */
#task {
  background: transparent;
}
/* line 98, ../sass/screen.sass */
#task .nav {
  border-bottom: 1px solid black;
}
/* line 101, ../sass/screen.sass */
#task .nav .selected a {
  font-weight: bold;
  border-bottom: 2px solid black;
}
/* line 104, ../sass/screen.sass */
#task .task-list-container {
  position: relative;
}
/* line 107, ../sass/screen.sass */
#task .task-default {
  display: none;
}
/* line 110, ../sass/screen.sass */
#task .task-list-empty ul {
  list-style: none;
}
/* line 112, ../sass/screen.sass */
#task .task-list-empty .task-default {
  display: list-item;
}
/* line 114, ../sass/screen.sass */
#task .task-list-empty .ui-button-reorder {
  display: none;
}
/* line 117, ../sass/screen.sass */
#task .task-add {
  position: relative;
  margin-bottom: 1.5em;
}
/* line 120, ../sass/screen.sass */
#task .task-add a {
  color: black;
}
/* line 122, ../sass/screen.sass */
#task .task-add input {
  padding: 4px;
  width: 510px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  border: 2px inset threedface;
}
/* line 127, ../sass/screen.sass */
#task .task-add input:focus {
  border-color: yellow;
}
/* line 129, ../sass/screen.sass */
#task .task-add .ui-trigger {
  position: absolute;
  right: 0.5em;
  top: 4px;
}
/* line 134, ../sass/screen.sass */
#task .task-list {
  color: white;
  list-style: none;
}
/* line 137, ../sass/screen.sass */
#task .task-list .task {
  border-bottom: 1px dotted black;
  padding: 0.5em;
  position: relative;
}
/* line 142, ../sass/screen.sass */
#task .task-list .task:hover .task-actions-trigger {
  display: block;
}
/* line 144, ../sass/screen.sass */
#task .task-list .task span {
  margin: 0 0.5em 0 0;
}
/* line 146, ../sass/screen.sass */
#task .task-list .task .task {
  border: none;
  border-top: 1px dotted black;
}
/* line 149, ../sass/screen.sass */
#task .task-list .task .task-actions-trigger {
  display: none;
}
/* line 151, ../sass/screen.sass */
#task .task-list .task .ui-icon-arrowthick-2-n-s {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  visibility: hidden;
}
/* line 157, ../sass/screen.sass */
#task .task-list .task .task-progress-container {
  display: none;
  height: 30px;
  line-height: 30px;
  padding: 10px 10px;
  position: absolute;
  top: -50px;
  left: -45px;
  background: rgba(48, 39, 22, 0.7);
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 168, ../sass/screen.sass */
#task .task-list .task .task-progress-container .task-progress {
  width: 60px;
  margin: 8px 0 0 10px;
}
/* line 171, ../sass/screen.sass */
#task .task-list .task .task-progress-container .triangle {
  position: absolute;
  bottom: -14px;
  left: 55px;
  border-color: transparent rgba(48, 39, 22, 0.7);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 177, ../sass/screen.sass */
#task .task-list .task .task-check {
  cursor: pointer;
  width: 17px;
  height: 17px;
  margin: 0 1em 0 0;
  border: 1px solid rgba(48, 39, 22, 0.7);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 185, ../sass/screen.sass */
#task .task-list .task .task-check:hover {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  text-indent: 1px;
}
/* line 188, ../sass/screen.sass */
#task .task-list .task .task-check:hover .task-progress-container {
  display: block;
}
/* line 190, ../sass/screen.sass */
#task .task-session {
  list-style: upper-roman inside;
}
/* line 192, ../sass/screen.sass */
#task .sortable {
  cursor: move;
}
/* line 194, ../sass/screen.sass */
#task .sortable .ui-icon-arrowthick-2-n-s {
  visibility: visible !important;
}
/* line 196, ../sass/screen.sass */
#task .sortable .task-actions-trigger {
  visibility: hidden;
}
/* line 198, ../sass/screen.sass */
#task .actions {
  font-size: 0.9em;
}
/* line 200, ../sass/screen.sass */
#task .actions .active {
  background: orange;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 205, ../sass/screen.sass */
.task-priority li {
  cursor: pointer;
  border: 1px solid #222222;
}

/* line 209, ../sass/screen.sass */
.task-priority-1 {
  color: red;
}

/* line 211, ../sass/screen.sass */
.task-priority-2 {
  color: #007700;
}

/* line 213, ../sass/screen.sass */
.task-priority-3 {
  color: #006699;
}

/* line 215, ../sass/screen.sass */
.task-priority-0 {
  color: #202020;
}

/* line 218, ../sass/screen.sass */
#message-main {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: 180px;
}
/* line 223, ../sass/screen.sass */
#message-main .ui-buttonset {
  float: right;
}
/* line 225, ../sass/screen.sass */
#message-main .ui-button-text {
  font-size: 0.9em;
}

/* line 227, ../sass/screen.sass */
.message {
  font-size: 14px;
}

/* line 231, ../sass/screen.sass */
#settings {
  position: absolute;
  right: 10px;
  top: 20px;
}
/* line 235, ../sass/screen.sass */
#settings a {
  border: 1px solid #eeddee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 238, ../sass/screen.sass */
#settings a span {
  padding: 0.2em 0.4em;
}
