body
	.message
		font-size: 14px
		position: absolute
		padding: .2em .6em
	#message-main
		top: 72px
		left: 50%
		background: $notice-bg-color
		margin-left: 180px
		+border-bottom-radius(3px)
		.actions
			+float-right
			a
				text-decoration: underline
				color: $loud-color
				font-size: .9em

	#message-loading
		top: 50%
		left: 50%
		width: 50px
		height: 50px
		margin: -25px 0 0 -25px
		background: url(../images/loading.png)

	#settings
		position: absolute
		right: 10px
		top: 20px
		a
			width: 16px
			height: 15px
			background: url(../images/sprites.png) -77px -173px
			+hide-text()

	.ui-menu-item .del
		float: right
		magrin: 2px 2px 0 0
		display: block
		cursor: pointer
		border: 1px solid $dark-color
		height: 14px
		line-height: 14px
		padding: 0 2px


	#ui-overlay-notes
		padding: .4em .6em
		h3
			color: $dark-color
		textarea
			width: 240px
			margin-bottom: 10px
		.triangle
			+triangle(top, 10px, #FFF)
			position: absolute
			top: -10px
			right: 0

	